*.class
*.iml
.idea

# Builds
dropwizard-opentracing/target/*
dropwizard-0.7-opentracing/target/*
*/lib/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
