<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<profiles>
    	<profile>
      		<id>ossrh</id>
      		<activation>
        		<activeByDefault>true</activeByDefault>
      		</activation>
      		<properties>
        		<gpg.executable>gpg2</gpg.executable>
        		<gpg.passphrase>${env.GPG_KEY}</gpg.passphrase>
      		</properties>
    	</profile>
  	</profiles>
 	<servers>
    	<server>
      		<id>ossrh</id>
      		<username>${env.JIRA_ID}</username>
      		<password>${env.JIRA_PASSWORD}</password>
    	</server>
  	</servers>
</settings>